/* variables */
/* reset */
* {
  margin: 0;
  padding: 0;
}

/* base styles */
body {
  width: 100vw;
  height: 100vh;
  background-color: #1D3557;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #A8DADC;
}

header h1 {
  text-align: center;
}

main {
  width: 100%;
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.player-choice-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #A8DADC;
  border: 2px solid white;
  border-radius: 25px;
}

.player-choice-buttons h2 {
  color: #1D3557;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.player-choice-buttons .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.player-choice-buttons button {
  color: white;
  background-color: #1D3557;
  border: 3px solid white;
  border-radius: 25px;
}

.player-choice-buttons button:hover {
  background-color: #98121c;
}

.info {
  display: none;
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info div.player-info {
  background-color: #f1faee;
  color: #1D3557;
  text-align: center;
}

.info #vs {
  color: white;
}

.info #winner {
  display: none;
  color: white;
}

.info #new-game {
  display: none;
  color: white;
  background-color: #1D3557;
  border: 3px solid white;
}

.info #new-game:hover {
  background-color: #98121c;
}

.game-board .board {
  background-color: #A8DADC;
  display: -ms-grid;
  display: grid;
  gap: 5px 5px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
}

.game-board .board .tiles {
  background-color: #f1faee;
  text-align: center;
  color: #1D3557;
  text-transform: capitalize;
}

/* fonts */
body {
  font-size: 20px;
}

h1 {
  font-family: 'Bitter', serif;
  text-transform: uppercase;
  color: #1D3557;
}

/* mobile styles */
header {
  height: 15%;
}

header h1 {
  font-size: 7.5vh;
}

.player-choice-buttons {
  margin-top: 45px;
  width: 95%;
  max-width: 500px;
  height: 150px;
}

.player-choice-buttons h2 {
  font-size: 1.3rem;
}

.player-choice-buttons button {
  width: 45%;
  height: 50px;
  font-size: 1em;
  margin: 2px;
}

.info {
  width: 100%;
  font-size: 1em;
  height: 8%;
}

.info div.player-info {
  line-height: 40px;
  width: 45%;
  height: 40px;
}

.info #new-game {
  border-radius: 25px;
  width: 150px;
  font-size: 0.8em;
  height: 40px;
}

.game-board {
  width: 400px;
  max-width: 90%;
  height: 480px;
  max-height: 650px;
}

.game-board .board {
  width: 100%;
  height: 80%;
}

.game-board .board .tiles {
  line-height: 125px;
  font-size: 3rem;
}

/* small tablet+ styles */
@media screen and (min-width: 620px) {
  header {
    height: 15%;
  }
  header h1 {
    font-size: 10vh;
  }
  .player-choice-buttons {
    margin-top: 45px;
    width: 90%;
    max-width: 650px;
    height: 200px;
  }
  .player-choice-buttons h2 {
    font-size: 2.5rem;
  }
  .player-choice-buttons button {
    width: 45%;
    height: 80px;
    font-size: 2rem;
    margin: 2px;
  }
  .info {
    margin: 20px 0;
    width: 100%;
    font-size: 2rem;
    height: 10%;
  }
  .info div.player-info {
    line-height: 60px;
    width: 45%;
    height: 60px;
  }
  .info #new-game {
    border-radius: 25px;
    width: 200px;
    font-size: 0.8em;
    height: 60px;
  }
  .info #winner {
    margin-left: 20px;
  }
  .game-board {
    width: 600px;
    max-width: 90%;
    height: 700px;
    max-height: 650px;
  }
  .game-board .board {
    width: 100%;
    height: 80%;
    gap: 5px 5px;
  }
  .game-board .board .tiles {
    line-height: 150px;
    font-size: 4rem;
  }
}
/*# sourceMappingURL=style.css.map */